<h2>Foglalások listája</h2>

<chair-status-filter [status]="selectedStatus"
  (change)="onFilterChange($event)"
></chair-status-filter>

<p>
{{ selectedChair | json }}
</p>
<mat-nav-list>
  <a *ngFor="let chair of filteredChairs" mat-list-item
    (click)="selectedChair = chair" 
    [class.selected]="chair === selectedChair"
  >
  <mat-icon *ngIf="chair.status === 'PAYED'"   matListIcon style="color: rgb(0, 60, 255)">attach_money</mat-icon>
  <mat-icon *ngIf="chair.status === 'RENTED'" matListIcon style="color: lightskyblue">shopping_cart</mat-icon>
    <h3 matLine>{{ chair.customerName }}</h3>
    <h3 matLine>{{ chair.customerEmail }}</h3>
    <h4 matLine>{{chair.roomName}} {{chair.movieTitle}} {{chair.status}}</h4>
    <small matLine>
      <mat-icon>rowNumber</mat-icon> {{ chair.rowNumber }}
      <mat-icon>columnNumber</mat-icon> {{ chair.columnNumber }}
      <mat-icon>ticketType</mat-icon> {{ chair.ticketType }}
    </small>
  </a>
</mat-nav-list>

<!--<issue-form></issue-form>-->
