<h1>A kiválasztott film adatai</h1>

<dl *ngIf="movie">
  <dt>Cím</dt>
  <dd>{{movie.title}}</dd>
  <img src="{{'assets/'+movie.posterLink}}" alt="Poszter" width="420" height="420">
  <dt>Rendező</dt>
  <dd>{{movie.director}}</dd>
  <dt>Kategória</dt>
  <dd>{{movie.movieType}}</dd>
  <dt>Korhatár</dt>
  <dd>{{movie.ageLimit}}</dd>
  <dt>Értékelés (IMDb)</dt>
  <dd>{{movie.rating}}</dd>
  <dt>Megjelenés dátuma</dt>
  <dd>{{movie.releaseDate}}</dd>
  <dt>Időtartam</dt>
  <dd>{{movie.durationInMin}} perc</dd>
  <dt>Leírás</dt>
  <dd>{{movie.plot}}</dd>
  <dt>Előzetes</dt>
  <dd><iframe width="560" height="315" [src]="sanitizer.bypassSecurityTrustResourceUrl(movie.trailerLink)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"  allowfullscreen></iframe></dd>
</dl>

<p>
<a mat-flat-button color="primary" [routerLink]="['/movies', movie.id, 'edit']">Szerkesztés</a>
<button (click)="onFormDelete()" mat-flat-button color="primary"  >Törlés</button>
</p>
<!--[showEdit]="authService.user.role === 'ADMIN'">Szerkesztés-->