<form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="Cím" formControlName="title"
      required
      pattern="^[A-ZÁÉŐÓÚŰÜÖÍ][a-záéőóúűüöí0-9-]+(\s[A-ZÁÉŐÓÚŰÜÖÍa-záéőóúűüöí0-9-]+)*(\s[1-9][0-9]*\.?)?$"
    >
    <mat-error *ngIf="title.invalid && (title.dirty || title.touched) && title.errors.required">
      A cím megadása kötelező!
    </mat-error>
    <mat-error *ngIf="title.invalid && (title.dirty || title.touched) && title.errors.pattern">
      A címnek helyes formátumúnak kell lennie!
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Rendező" formControlName="director"
      required
      pattern="^[A-ZÁÉŐÓÚŰÜÖÍ][a-záéőóúűüöí]{1,}(\s[A-ZÁÉŐÓÚŰÜÖÍ][a-záéőóúűüöí]{1,}){0,}$"
    >
    <mat-error *ngIf="director.invalid && (director.dirty || director.touched) && director.errors.required">
      A rendező megadása kötelező!
    </mat-error>
    <mat-error *ngIf="director.invalid && (director.dirty || director.touched) && director.errors.pattern">
      A rendezőnek helyes formátumúnak kell lennie!
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Kategória" formControlName="movieType"
      multiple required
    >
    <mat-option *ngFor="let type of movieTypeList" [value]="type">{{type}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Korhatár" formControlName="ageLimit"
      required
    >
    <mat-option value="N/A">N/A</mat-option>
    <mat-option value="12">12</mat-option>
    <mat-option value="6">6</mat-option>
    <mat-option value="16">16</mat-option>
    <mat-option value="18">18</mat-option>
  </mat-select>
    <mat-error *ngIf="ageLimit.invalid && (ageLimit.dirty || ageLimit.touched) && ageLimit.errors.required">
      A korhatár megadása kötelező!
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Összefoglaló" formControlName="plot"></textarea>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Megjelenés dátuma" formControlName="releaseDate"
      required
      pattern="^([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]))$"
    >
    <mat-error *ngIf="releaseDate.invalid && (releaseDate.dirty || releaseDate.touched) && releaseDate.errors.required">
      A megjelenés dátuma megadása kötelező!
    </mat-error>
    <mat-error *ngIf="releaseDate.invalid && (releaseDate.dirty || releaseDate.touched) && releaseDate.errors.pattern">
      A megjelenés dátumának helyes formátumúnak kell lennie!
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Időtartam" formControlName="durationInMin"
      required
      pattern="[1-9]\d{2}"
    >
    <mat-error *ngIf="durationInMin.invalid && (durationInMin.dirty || durationInMin.touched) && durationInMin.errors.required">
      Az időtartam megadása kötelező!
    </mat-error>
    <mat-error *ngIf="durationInMin.invalid && (durationInMin.dirty || durationInMin.touched) && durationInMin.errors.pattern">
      Az időtartamnak helyes formátumúnak kell lennie!
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Státusz" formControlName="status"
      required
    >
      <mat-option value="COMING">Hamarosan</mat-option>
      <mat-option value="ACTUAL">Már vászonon</mat-option>
    </mat-select>
    <mat-error *ngIf="status.invalid && (status.dirty || status.touched) && status.errors.required">
      A státusz megadása kötelező!
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Poszter" formControlName="posterLink"
    required
    >
    <mat-error *ngIf="posterLink.invalid && (posterLink.dirty || posterLink.touched) && posterLink.errors.required">
      A poszter linkjének megadása kötelező!
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Trailer" formControlName="trailerLink"
    >
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Értékelés (x/10)" formControlName="rating"
    >
    <mat-option value="1">1</mat-option>
    <mat-option value="2">2</mat-option>
    <mat-option value="3">3</mat-option>
    <mat-option value="4">4</mat-option>
    <mat-option value="5">5</mat-option>
    <mat-option value="6">6</mat-option>
    <mat-option value="7">7</mat-option>
    <mat-option value="8">8</mat-option>
    <mat-option value="9">9</mat-option>
    <mat-option value="10">10</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-flat-button color="primary" 
    type="submit"
    [disabled]="movieForm.invalid"  
  >Mentés</button>

</form>
{{movie | json}}
{{movieForm.value | json}}
{{movieForm.valid | json}}