<h2>Filmek listája</h2>

<movie-status-filter [status]="selectedStatus"
  (change)="onFilterChange($event)"
></movie-status-filter>

<p>
{{ selectedMovie | json }}
</p>
<mat-nav-list>
  <a *ngFor="let movie of filteredMovies" mat-list-item
    (click)="selectedMovie = movie" 
    [class.selected]="movie === selectedMovie"
    [routerLink]="['/movies', movie.id, 'edit']"
  >
  <mat-icon *ngIf="movie.status === 'COMING'"   matListIcon style="color: rgb(0, 60, 255)">star_border</mat-icon>
  <mat-icon *ngIf="movie.status === 'ACTUAL'" matListIcon style="color: lightskyblue">star</mat-icon>
    <h3 matLine>{{ movie.title }}</h3>
    <small matLine>
      <mat-icon>director</mat-icon> {{ movie.director }}
      <mat-icon>durationInMin</mat-icon> {{ movie.durationInMin }}
      <mat-icon>dateOfRegistration</mat-icon> {{ movie.dateOfRegistration }}
      <mat-icon>rating</mat-icon> {{ movie.rating }}
    </small>
    <p matLine>{{ movie.plot }}</p>
  </a>
</mat-nav-list>

<!--<movie-form></movie-form>-->