<h2>Filmek listája</h2>

<movie-status-filter [status]="selectedStatus"
  (change)="onFilterChange($event)"
></movie-status-filter>
<div>
<mat-nav-list>
  <a *ngFor="let movie of filteredMovies" mat-list-item
    (click)="selectedMovie = movie" 
    [class.selected]="movie === selectedMovie"
    [routerLink]="['/movies', movie.id]"
  >
  <mat-icon *ngIf="movie.status === 'COMING'"   matListIcon style="color: rgb(13, 66, 13)">star_border</mat-icon>
  <mat-icon *ngIf="movie.status === 'ACTUAL'" matListIcon style="color: rgb(64, 240, 79)">star</mat-icon>
    <h3 matLine>{{ movie.title }}</h3>
    <img matListAvatar src="{{'assets/'+movie.posterLink}}" alt="Poszter">
   <small matLine>
       {{ movie.director }}
       </small>
       <small matLine>
       {{ movie.durationInMin }} perc
       {{ movie.dateOfRegistration }}
       {{ movie.rating }} IMDb
    </small>
  </a>
</mat-nav-list>
<a mat-flat-button [routerLink]="['/movies', 'add']" *ngIf="authService.isAdmin" class="buttons">Új film hozzáadása</a>
</div>
<!--<movie-form></movie-form>-->