<h1>MOZI</h1>
<mat-toolbar color="primary">
  <button mat-button routerLink="/movies">
    <mat-icon>home</mat-icon>
    Filmek
  </button>
  <button mat-button routerLink="/screenings">Vetítések</button>
  <button mat-button routerLink="/chairs">Foglalások</button>
  <button mat-button routerLink="/rooms">Termek</button>
  <button mat-button routerLink="/login">Bejelentkezés</button>
  <button mat-button routerLink="/registration">Regisztráció</button>
</mat-toolbar>

<router-outlet></router-outlet>

