<html>
<h1>A kiválasztott terem adatai</h1>
<div>
<dl *ngIf="room">
  <dt>Név</dt>
  <dd>{{room.roomName}}</dd>
  <dt>Sorok száma:</dt>
  <dd>{{room.numberOfRows}}</dd>
  <dt>Székek száma egy sorban</dt>
  <dd>{{room.numberOfColumns}}</dd>
  <dt>Összes hely</dt>
  <dd>{{room.availablePlaces}}</dd>
</dl>

<p>
<a mat-flat-button color="primary" [routerLink]="['/rooms', room.id, 'edit']" >Szerkesztés</a>
<a mat-flat-button color="primary" [routerLink]="['/rooms',room.id,'chairs']" >Foglalások listája ebbe a terembe</a>
<a mat-flat-button color="primary" [routerLink]="['/rooms',room.id,'screenings']" >Vetítések listája ebbe a terembe</a>
<a mat-flat-button color="primary" [routerLink]="['/rooms',room.id,'screenings', 'add']" >Vetítés hozzáadása</a>
<button (click)="onFormDelete()" mat-flat-button color="primary"  >Törlés</button>

</p>
</div>
</html>


