
<h2>{{title}}</h2>


<div>
  <mat-nav-list>
    <a *ngFor="let screening of screenings" mat-list-item
      (click)="selectedScreening = screening" 
      [class.selected]="screening === selectedScreening"
      [routerLink]="['/screenings', screening.id]">
    >
      <h3 matLine>{{ screening.movieTitle }}</h3>
      <h3 matLine>{{ screening.screeningDate }}</h3>
      <h3 matLine>{{ screening.startTime }}</h3>      
        <small matLine>{{ screening.screeningLanguage }}</small>
        <small matLine> {{screening.subscription}}</small>

    </a>
  </mat-nav-list>
  <a mat-flat-button [routerLink]="['/screenings','add']" *ngIf="showAdd && authService.isAdmin" class="buttons">Új vetítés hozzáadása</a> 
  <a mat-flat-button [routerLink]="['/movies',movie.id,'screenings', 'add']" *ngIf="showMovieScreeningAdd && authService.isAdmin" class="buttons">Új vetítés hozzáadása a kivalasztott filmhez</a>
</div>
