h2 {
    padding-left: 16px;
    padding-right: 16px;
    color:green;
  }
  small {
    font-size: smaller;
    height: auto;
    width: auto;
    color:white;
  }
  a.selected {
    background-color: green;
  }
  button{
    background-color: green;
    color:white;
  }
  a.buttons{
    background-color: green;
    color:white;
  }
  p{
    background-color: white;
  }
  h3{
    color:white;
  }
  div{
    background-color: black;
    resize: auto;
  }